<% include partials/header.ejs %>
<div class='inverted ui main text container '>
    <div class="ui inverted huge header">
       <%=user.username.toUpperCase()%>'s Blogs
    </div>
        <div class="ui top attached">
            <div class="ui inverted divided items">
                <% user.blogs.forEach(function(blog){ %>
                
                    <div class="item">
                        <span id="imagePadding">
                        <div class="ui rounded small avtar image">
                            <img src="<%= blog.image %>">
                        </div>
                        </span>
                        <span>
                        <div class="content">
                            <a class="header" href="blogs/<%=blog._id%>" ><%=blog.title%></a>
                            <div class="meta">
                                <span id="id">
                                    <%=blog.created%>
                                </span>
                            </div>
                        </div>
                        
                        <div class="description">
                            <p>
                                <%-blog.body%>...
                            </p>
                        </div>
                        <div class="extra">
                            <a class="ui floated inverted basic button" href="/blogs/<%=blog._id%>" >READ MORE</a>
                        </div>
                        </span>
                        
                    
                    
                </div>
<% }) %>
            </div>
        </div>
        
    
</div>


<% include partials/footer.ejs %>